<html lang="en">
  <head>
  
    <title>Wizard</title>
  </head>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
  <body ng-app="sampleApp">
 
    <div class="container">
        <div class="row">
        <div class="col-md-3">
            <ul class="nav">
                <li><a href="#ChooseFloors">Choose floors</a></li>
                <li><a href="#ChooseSections">Choose sections</a></li>
                <li><a href="#ChooseWings">Choose wings</a></li>
                <li><a href="#ChooseSeats">Choose seats</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div ng-view></div>

            

	    <ul class="list-inline" ng-controller="nextController">
		<li><a href="#{{back()}}" ><button ng-disabled="backDisable()">&lt&lt</button></a></li>
		<li><a href="#{{next()}}" ><button ng-disabled="nextDisable()">&gt&gt</button></a></li>
	    </ul>
        </div>
        </div>
    </div>
 
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="app.js"></script>
	<script  src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" />
  <script>
function checkPrice(){
var select = document.getElementById('cmbitems');
var input = document.getElementById('txtprice');

select.onchange = function() {
    input.value = select.value;
	
}
if(input.value != null && input.value != ""){
document.getElementById("txtprice").innerHTML = "The " + input.value + " floor has been selected!";

}
if(input.value == ""){
document.getElementById("txtprice").innerHTML = "";
}
}
</script>
  </body>
</html>

