
<h2>Choose the floors<h2>
{{ message }}<br><br>
<select name="cmbitems" id="cmbitems" onClick="checkPrice()">
    <option value="">Select a floor</option>
	<option value="first" >First</option>
    <option value="second">Second</option>
    <option value="third">Third</option>
</select>
<br>
<br>
<h1 id="txtprice"></h1>

